/*
    This file is never used (yet).
    See https://github.com/xamarin/MobileBlazorBindings/issues/117
*/
.app-menu-header
{
    padding: 10;
    color: aqua;
}

/*Label {
    padding: 10;
    color: deeppink;
}*/